.vscode/**
.vscode-test/**
.claude/**
.sfdx/**
node_modules/**
out-test/**
out/**
test/**
src/**
web/diagram-workspace/diagram/**
web/diagram-workspace/index.js
web/diagram-workspace/README.md
.gitignore
.yarnrc
.vscode-test.mjs
AGENTS.md
eslint.config.mjs
package-lock.json
webpack.extension.config.js
webpack.webview.config.js
vsc-extension-quickstart.md
tsconfig*.json
*.vsix
**/.eslintrc.json
**/*.map
**/*.ts
